*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    max-width: 450px;
    width: 450px;
    margin: 0 auto;
    background-color: rgb(161, 125, 172);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 14px;
    border-radius: 8px;
}

input, select{
    padding: 12px;
    border: solid 1px rgb(37, 0, 49);
    border-radius: 8px;
    outline:none;
}

button{
    background-color: rgb(167, 79, 194);
    color: #cecece;
    padding: 12px;
    border: solid 1px #000000;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.5s;
}

button:hover{
    background-color: rgb(147, 0, 192);
    color: #ffffff;
}

.error{
    border: solid 1px #ff0202;
}

.correcto{
    border: solid 1px #00ff0d;
}

